.navBarContainer {
  height: 50px;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.signInButton {
  background-color: green;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
